.App {
  border: 1px solid darkgray;
  margin: 64px auto;
  padding: 16px 32px 32px;
  border-radius: 6px;
  max-width: 500px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: white;
  border-radius: 4px;
  padding: 12px 20px;
  border: none;
}

.delete {
  background-color: red !important;
}

.task {
  background-color: rgb(238, 236, 236);
  padding: 16px 32px;
  border-left: 5px solid rgb(238, 236, 236);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  border-left: 5px solid green;
}

.task h2, .task p {
  margin: 0;
  font-weight: 500;
}

footer {
  padding-top: 32px;
  text-align: center;
}

footer p {
  margin: 0;
  font-weight: 600;
}
